* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: #5bb7be;
}

button {
    border: none;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100dvh;
    padding-block: 10px;
}

.container {
    width: min(calc(100% - 2rem), 71.25rem);
    margin-inline: auto;
}

.title {
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 1rem;
}

.board {
    max-width: 600px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 22px;
    background: #5bb7be;
    box-shadow: 10px 10px 17px #52a5ab, -10px -10px 17px #64c9d1;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 2rem;
}

.wrapper {
    position: relative;
}

.button {
    width: 100%;
    height: 100%;
    border-radius: 22px;
    background: #5bb7be;
    box-shadow: 10px 10px 17px #52a5ab, -10px -10px 17px #64c9d1;
    cursor: pointer;
    transition: 0.1s;
}

@media (hover: hover) {
    .button:hover {
        scale: 1.03;
    }
}

.button[disabled] {
    border-radius: 22px;
    background: #5bb7be;
    box-shadow: inset 8px 8px 16px #4e9da3, inset -8px -8px 16px #68d1d9;
}

.circle,
.cross {
    position: absolute;
    inset: 0;
    margin: auto;
}

.first,
.last {
    position: absolute;
    max-height: 30px;
    width: 150px;
    inset: 0;
    margin: auto;
    border-radius: 100px;
    background: #be5b5b;
    box-shadow: inset 17px 17px 34px #a24d4d, inset -17px -17px 34px #db6969;
}

.first {
    rotate: 45deg;
}

.last {
    rotate: -45deg;
}

.circle {
    width: 135px;
    height: 135px;
    border-radius: 100px;
    background: #be5b5b;
    box-shadow: inset 17px 17px 34px #a24d4d, inset -17px -17px 34px #db6969;
}

.circle::before {
    content: '';
    position: absolute;
    width: 75%;
    height: 75%;
    inset: 0;
    margin: auto;
    border-radius: 100px;
    background: #be5b5b;
    box-shadow: 8px 8px 17px #a24d4d, -8px -8px 17px #db6969;
}

.reset {
    background: none;
    border: none;
    min-width: 150px;
    padding: 10px;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 10px;
    background: linear-gradient(145deg, #61c4cb, #52a5ab);
    box-shadow: 11px 11px 22px #4c9aa0, -11px -11px 22px #6ad4dc;
    transition: 0.1s;
}

@media (hover: hover) {
    .reset:hover {
        scale: 0.95;
    }
}

.reset:active {
    background: #5bb7be;
    box-shadow: inset 8px 8px 16px #4e9da3, inset -8px -8px 16px #68d1d9;
}

.rules {
    max-width: 700px;
    font-size: 1.3rem;
    margin-bottom: .5rem;
}

.rules span {
    display: block;
    text-align: center;
    margin-bottom: 0.5rem;
}

.modal {
    position: fixed;
    inset: 0;
    margin: auto;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 4rem 3rem;
    border-radius: 10px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pin {
    color: #be5b5b;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    position: relative;
    z-index: 1;
}

.modal span {
    color: #be5b5b;
    font-weight: 700;
}

.close {
    background: none;
    font-size: 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    border: 1px solid #000;
}

.close:active {
    scale: 0.97;
}

/* MEDIA */

@media (max-width: 630px) {
    .board {
        max-width: 400px;
        max-height: 400px;
        gap: 0.5rem;
    }

    .rules {
        text-wrap: balance;
    }

    .circle {
        max-width: 100px;
        max-height: 100px;
    }
    .first,
    .last {
        width: 100px;
        height: 20px;
    }
    .pin {
        margin-right: auto;
    }
}

@media (max-width: 430px) {
    .title {
        font-size: 2rem;
    }
    .board {
        max-width: 100%;
        max-height: 350px;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }
    .circle {
        max-width: 75px;
        max-height: 75px;
    }

    .circle::before {
        width: 70%;
        height: 70%;
    }
    .first,
    .last {
        width: 80px;
        height: 15px;
    }

    .rules {
        font-size: 1.1rem;
        text-align: justify;
    }

    .reset {
        padding: 5px 10px;
        font-size: 1.5rem;
    }
}
